*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Monteserrat',sans-serif;
}

body{
    color: #263138;
}

h1{
    color: #ff9a6c;
}

header{
    background-color: #ff9a6c;
}